.home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
	background: linear-gradient(-45deg, #e2e1cd, #dcd893, #f4f0a0, #d4d1a1);
	background-size: 300% 300%;
	animation: gradient 20s ease infinite;
	}

    @keyframes gradient {
        0% {
            background-position: 0% 40%;
        }
        50% {
            background-position: 100% 40%;
        }
        100% {
            background-position: 0% 40%;
        }
    }

.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 70vh;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.profilepic {
    position: absolute;
    top: 5vh;
}

.profilepic img{
    max-height: 20vh;
    max-width: auto;
    border-radius: 100rem;
}

.welcome {
    position: absolute;
    font-size: 3vh;
    margin: .5rem;
    padding: 1rem;
    color: #000000;
    top: 21vh;
    animation: gradient 20s ease infinite;
}


.favorites {
    position: absolute;
    display: flex;
    margin: 1vh;
    flex-direction: column;
    width: 60vw;
    height: 8vh;
    color: white;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    bottom: 21vh;
	background: linear-gradient(-45deg, #96aa56, #798a40, #9eb849, #97a56b);
	background-size: 300% 300%;
	animation: gradient 20s ease infinite;
	}

    @keyframes gradient {
        0% {
            background-position: 0% 40%;
        }
        50% {
            background-position: 100% 40%;
        }
        100% {
            background-position: 0% 40%;
        }
}

.navigation {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 5vh;
}

.navigation button {
    width: 60vw;
    height: 6vh;
    margin: 1vh;
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-family: 'peard_font';
    font-size: 2vh;
    transition: all 500ms ease;
    word-wrap: break-word;
	background: linear-gradient(-45deg, #96aa56, #798a40, #9eb849, #97a56b);
	background-size: 300% 300%;
	animation: gradient 20s ease infinite;
	}

    @keyframes gradient {
        0% {
            background-position: 0% 40%;
        }
        50% {
            background-position: 100% 40%;
        }
        100% {
            background-position: 0% 40%;
        }
}

.home button:hover {
    cursor: pointer;
    color: #96aa56;
    border: #96aa56 solid 1px;
    background:#fff;
}



/*do media query where the width of left-side is 28% on the full screen and
 50 percent on a small screen */