.landing {
    display: flex;
    flex-direction: row;
    width: 100 hw;
    height: 100vh;
    justify-content: center;
    align-items: center;
	background: linear-gradient(-45deg, #e2e1cd, #dcd893, #f4f0a0, #d4d1a1);
	background-size: 300% 300%;
	animation: gradient 20s ease infinite;
	height: 100vh;}

    @keyframes gradient {
        0% {
            background-position: 0% 40%;
        }
        50% {
            background-position: 100% 40%;
        }
        100% {
            background-position: 0% 40%;
        }
    }

.intro {
    background-color: white;
    border-radius: 1.5rem;
    width: 50%;
    height: 65%;
    justify-content: center;
    align-items: center;
    color: #96aa56;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.intro h1 {
    margin: 30px;
}

.intro h2 {
    margin: 30px;
}

.intro button {
    width: 6rem;
    height: 2rem;
    margin: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #000000;
    color: #e2e1cd;
    font-family: 'peard_font';
    transition: all 500ms ease;
}

.intro button:hover {
    cursor: pointer;
    color: #96aa56;
    border: #96aa56 solid 1px;
    background:#fff;
}

@media all and (max-width: 800px) {
    .landing {
        flex-direction: column;
    }

    .intro h1 {
        font-size: 75px;
    }

    .intro button {
        display: none;
    }

    .intro p {
        display: none;
    }

    .intro {
        height: 30%;
        width: 100%;
    }

}




