.landing {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 100 hw;
    height: 100vh;
    justify-content: center;
    align-items: center;
	background: linear-gradient(-45deg, #e2e1cd, #dcd893, #f4f0a0, #d4d1a1);
	background-size: 500% 500%;
	animation: gradient 20s ease infinite;
	height: 100vh;}

    @keyframes gradient {
        0% {
            background-position: 0% 40%;
        }
        50% {
            background-position: 100% 40%;
        }
        100% {
            background-position: 0% 40%;
        }
    }

.image {
    position: relative;
    top: 10vh;
}

.image img {
    max-height: 50vh;
    max-width: auto;
    border-radius: 100rem;
}

.intro {
    position: relative;
}

.intro h1 {
    font-size: 5vw;
    margin: 10px;
}

.intro h2 {
    font-size: 2vw;
    margin: 10px;
}

.intro button {
    width: 45vw;
    height: 10vh;
    margin: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color:black;
    color: white;
    font-family: 'peard_font';
    font-size: 5vh;
    transition: all 500ms ease;
    word-wrap: break-word;
}

.intro button:hover {
    cursor: pointer;
    color: black;
    border: black solid 1px;
    background:#fff;
}



